<div class="invocador">

    <div class="feiticos">
        <img src="../img/feiticos/Flash.jpg">
        <img src="../img/feiticos/Ignite.jpg">
    </div>

    <div class="champ-escolhido">
        <img src="../img/teemo-teste.jpg">
    </div>

    <div class="nome-invocadorEchamp">
        <div class="nome-champ-escolhido">
            <b>Gragas</b>
        </div>
        <div class="nome-invocador">
            <b>Pombo de Praça</b>
        </div>
    </div>  

    <div class="tempo-seleção">

    </div>
</div>