<div class="invocador-aliado">

    <div class="feiticos">
        <img src="../img/feiticos/Flash.jpg">
        <img src="../img/feiticos/Smite.jpg">
    </div>

    <div class="champ-escolhido">
        <img src="../img/gragas2.jpg">
    </div>

    <div class="nome-invocadorEchamp-aliado">
        <div class="nome-champ-escolhido">
            <b>Gragas</b>
        </div>
        <div class="nome-invocador">
            <b>Pombo de Praça</b>
        </div>
    </div>  

    <div class="tempo-seleção">

    </div>
</div>