<div class="invocador-aliado">

    <div class="feiticos">
        <img src="../img/feiticos/Flash.jpg">
        <img src="../img/feiticos/Teleport.jpg">
    </div>

    <div class="champ-escolhido">
        <img src="../img/veigar.jpg">
    </div>

    <div class="nome-invocadorEchamp-aliado">
        <div class="nome-champ-escolhido">
            <b>Veigar</b>
        </div>
        <div class="nome-invocador">
            <b>Capvarinha Gorda</b>
        </div>
    </div>  

    <div class="tempo-seleção">

    </div>
</div>