<div class="invocador-aliado">

    <div class="feiticos">
        <img src="../img/feiticos/Heal.jpg">
        <img src="../img/feiticos/Flash.jpg">
    </div>

    <div class="champ-escolhido">
        <img src="../img/aphelios.jpg">
    </div>

    <div class="nome-invocadorEchamp-aliado">
        <div class="nome-champ-escolhido">
            <b>Aphelios</b>
        </div>
        <div class="nome-invocador">
            <b>Moonzado</b>
        </div>
    </div>  

    <div class="tempo-seleção">

    </div>
</div>