<div class="invocador-adversario">

    <div class="tempo-seleção">

    </div>

    <div class="nome-invocadorEchamp-adversario">
        <div class="nome-champ-escolhido">
            <b>Yuumi</b>
        </div>
        <div class="nome-invocador">
            <b>Invocador 5</b>
        </div>
    </div>  

    <div class="champ-escolhido">
        <img src="../img/yuumi.jpg">
    </div>

</div>