<div class="invocador-adversario">

    <div class="tempo-seleção">

    </div>

    <div class="nome-invocadorEchamp-adversario">
        <div class="nome-champ-escolhido">
            <b>Draven</b>
        </div>
        <div class="nome-invocador">
            <b>Invocador 4</b>
        </div>
    </div>  

     <div class="champ-escolhido">
        <img src="../img/draven.jpg">
    </div>

</div>