<div class="invocador-adversario">

    <div class="tempo-seleção">

    </div>

    <div class="nome-invocadorEchamp-adversario">
        <div class="nome-champ-escolhido">
            <b>Sylas</b>
        </div>
        <div class="nome-invocador">
            <b>Invocador 3</b>
        </div>
    </div>  

    <div class="champ-escolhido">
        <img src="../img/sylas.jpg">
    </div>

 
</div>