<div class="invocador-adversario">

    <div class="tempo-seleção">

    </div>
    
    <div class="nome-invocadorEchamp-adversario">
        <div class="nome-champ-escolhido">
            <b>Diana</b>
        </div>
        <div class="nome-invocador">
            <b>Invocador 2</b>
        </div>
    </div>  

    <div class="champ-escolhido">
        <img src="../img/diana.jpg">
    </div>

   
</div>