<div class="campeoes">
    <% for (let i = 0; i < 60; i++) { %>

        <div class="campeao">
            <img src="../img/gnar.jpg">
            <b>Gbar</b>
        </div>
        
    <% } %>


</div>