<div class="filtros">
    <div class="lanes">
        <button><img src="../img/stickers/sticker_top.png"></button>
        <button><img src="../img/stickers/sticker_jg.png"></button>
        <button><img src="../img/stickers/sticker_mid.png"></button>
        <button><img src="../img/stickers/sticker_adc.png"></button>
        <button><img src="../img/stickers/sticker_sup.png"></button>
    </div>

    <div class="ordenar">
        <button> Ordenar por Nome ↕</button>
    </div>

    <div class="buscar">
        <img src="../img/stickers/lupa.png">
        <input type="text" class="form-control" placeholder="Buscar" name="nome">
    </div>
</div>