<div class="filtros">
    <div class="lanes">
        <img src="../img/stickers/sticker_top.png">
        <img src="../img/stickers/sticker_jg.png">
        <img src="../img/stickers/sticker_mid.png">
        <img src="../img/stickers/sticker_adc.png">
        <img src="../img/stickers/sticker_sup.png">
    </div>

    <div class="ordenar">
        <button> Ordenar por Nome ↕</button>
    </div>

    <div class="buscar">
        🔎<input type="text" class="form-control" placeholder="Buscar" name="nome">
    </div>
</div>